*, *:before, *:after {
	 box-sizing: border-box;
}
 html {
	 line-height: 1.5;
	 font-weight: 700;
	 color: #337ab7;
	 font-family: "Nunito Sans", sans-serif;
	 padding-top: 3%;
	 padding-left: 5%;
	 padding-right: 5%;
	 user-select: none;
}

 body {
	 background-color: #ecf0f9;
	 background-attachment: fixed;
}

/* Heading */

.heading-div {
position: absolute;
width: 25%;

cursor: pointer;
transition: .5s;
}

.heading-div:hover {
filter: brightness(120%);}

.title {
margin-top: 0px;
font-weight: 900;
width: 100%;
font-size: 1.92vw;
letter-spacing: 0.1ch;
color: #639fd3;
}

.title2 {
width: 100%;
font-size: 3.42vw;
color: #337ab7;
height: 100%;
}


/* Nav Bar */

.navbar {
position: relative;
float:right;
color: #337ab7;

}


.nav-item {
-webkit-box-shadow: 0px -2px 64px -6px rgba(208, 208, 208, 1);
-moz-box-shadow: 0px -2px 64px -6px rgba(208, 208, 208, 1);
box-shadow: 0px -2px 64px -6px rgba(208, 208, 208, 1);
position:relative;
list-style: none;
font-weight: 900;
font-size: 1.6vw;
letter-spacing: 0.1ch;
text-align: center;
border-radius: 15%;
padding: 0.5vw 0;
margin: 0.25vw 0;
}

.nav-item:hover {
cursor: pointer;
background: white;
}

.nav-item-1 {
width: 17.75vw;
}

.nav-item-2 {
left: 0.675vw;
width: 17.075vw;
}

.nav-item-3 {
left: 1.95vw;
width: 15.8vw;
}

.item-disabled {
background: #D5E1FE;
pointer-events: none;
}

/* Search Input */
.index-search-wrapper {
position: absolute;
width: 20vw;
top: 9.5vw;
}

.index-search-wrapper .search-input{
margin-bottom: 5%;
position:relative;
background: white;
position: sticky;
z-index: 10;
}

.search-input input {
height: 3vw;
outline: none;
border: none;
padding: 0 2% 0px;
padding-right: 10%;
font-size: 1.5vw;
font-weight: 770;
box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

input.search-query {
width:100%;
}

.search-input .autocom-box {
padding: 0px;
max-height: 40vw;
overflow-y: auto;
pointer-events: none;
display: none;
}

.search-input.active .autocom-box {
padding: 3% 2.4%;
pointer-events: auto;
display: block;
}

.search-input.active .autocom-box li{
display: none;
}

.search-input.active .autocom-box li {
width: 100%;
font-size: 1.2vw;
white-space: wrap;
overflow: hidden;
list-style: none;
padding: 1px 0px 0px 2px;
cursor: pointer;
display: block;
padding-right: 10%;
}

.autocom-box li:hover {
background-color: #ecf0f9;
width: 200%;
}

/* Search Icon */
.search-input .icon {
position: absolute;
right:0;
top: 0.2vw;

text-align:center;
font-size: 1.8vw;
color: #337ab7;
cursor: pointer;
  transition: filter .25s ease-out;
}

.search-input .icon:hover {
filter: brightness(70%);
}

.invisible-background {
border:none;
background-color: transparent;
}


/* Wall buttons */
.wall-buttons{
position:relative;
top: 10vw;
width: 50%;
margin: auto;
text-align: center;
item-align: center;
}

.wall-button {
item-align: center;
height: 3.5vw;
box-shadow: rgba(0, 0, 0, 0.06) 0px -12px 30px;
background-color: white;
border: none;
margin: 1%;
width: 20%;
border-radius: 10%;
transition: background-color 0.3s;
font-weight: 900;
font-size: 1vw;
wrap: nowrap;
text-transform: uppercase;
}

.wall-button:hover {
background-color: #337ab7;
}

.wall-button:disabled {
background-color: #97BBDA;
cursor: auto;
}


/* Wall-arrows */

.left-arrow-wall, .right-arrow-wall {
position: relative;
bottom: 2vw;
font-size: 4vw;
color: #337ab7;
cursor: pointer;
}

.right-arrow-wall {
float: right;
left: 4vw;
}

.right-arrow-wall:hover {
  -webkit-animation: linear infinite;
  -webkit-animation-name: movie-right;
  -webkit-animation-duration: 1s;}

  @-webkit-keyframes movie-right {
  0% {
    left: 4vw;
  }
  50% {
    left: 4.3vw;
  }
  100% {
    left: 4.6vw%;
  }
}

.left-arrow-wall {
float: left;
right: 4vw;
}

.left-arrow-wall:hover {
  -webkit-animation: linear infinite;
  -webkit-animation-name: move-left;
  -webkit-animation-duration: 1s;}

  @-webkit-keyframes move-left {
  0% {
    right: 4vw;
  }
  50% {
    right: 4.3vw;
  }
  100% {
    right: 4.6vw%;
  }
}


/* Movie cards */
.wall-movie-list {
columns: 7;
column-gap: 5.9%;
display:flex;
position: relative;
max-width: 22%;
min-width: 22%;
top: 12vw;
max-height: 100%;
min-height: 100%;
}


.wall-list-items {
max-width: 60%;
min-width: 60%;
margin-right: 0;
position: relative;
}


.wall-list-img {
transition: 0.1s;
cursor: pointer;
max-width: 100%;
min-width: 100%;
max-height: 84.5%;
min-height: 84.5%;
}

.wall-list-img:active {
position: sticky;
transition: all 1s;
transform: scale(1.7);
z-index:15;}

.wall-movie-base-image {
max-width: 100%;
min-width: 100%;
border-radius: 10%;
filter: saturate(85%) contrast(98%);
-webkit-filter: saturate(85%) contrast(98%);
-moz-filter: saturate(85%) contrast(98%);}


/* Wall Icons */
.wall-icons {
max-width:inherit;
min-width: inherit;
font-size: 2.3vw;
margin: auto;}

.thrashcan {
position: relative;
color: #4fbfe8;
left:50%;
transform:translate(-50%)
}

.thrashcan:hover {

color: black;
cursor: pointer;
}


/* MovieBase */

.movie-list {

position: absolute;

top: 17vw;
columns: 4;
left: 3%;
width: 60%;
column-gap: 38%;
}


.movie-list-item {

  width: 21vw;
  height: 25.8vw;
transition: transform .3s;

}

db-card {
width: 17.16vw;}


.movie-base-image {
position: relative;
    z-index: 11;
float: right;
  width: 17.16vw;
  height: 100%;
border-radius: 10%;
filter: saturate(85%) contrast(98%);
-webkit-filter: saturate(85%) contrast(98%);
-moz-filter: saturate(85%) contrast(98%);
}

.blur
{ filter: blur(5px);
 opacity: 0.25;
 cursor: auto;}


.movie-base-image {
list-style: none;}


.movie-list-item:hover {
transform: scale(1.1);
cursor: pointer;}

/* Movie icons */

.back-icons {
cursor: auto;
opacity: 0;
position: relative;

border-radius: 40px 40px;
border-spacing: 50%;
padding: 5%;
float: left;

transform: translateY(-50%);
 width: 15%;
 top: 50%;
  margin: 0 auto;
  font-size: 2vw;
  transition: opacity .3s ease-in-out;

-webkit-box-shadow: -36px 0px 29px -25px rgba(0, 0, 0, 0.55);
-moz-box-shadow: -36px 0px 29px -25px rgba(0, 0, 0, 0.55);
box-shadow: -36px 0px 29px -25px rgba(0, 0, 0, 0.55);
}

.visible {
opacity: 1;
}

.add-movie, .watch-list, .dislike, .ignore{
position: relative;
    z-index: 10;
  transition: color .3s ease-out;
  cursor: pointer;
  left: 50%;
transform: translateX(-50%);
color: #bcc7d5
}

.add-movie-enabled, .watch-list-enabled, .dislike-enabled, .ignore-enabled {
color: #337ab7;
}


/* MovieBase-back */
.db-movie-back {
visibility: hidden;
position: absolute;
width: 17vw;
margin-top: 5%;
margin-left: 4vw;
margin-bottom: 0;
}

.db-movie-title {
text-transform : uppercase;
text-align: center;
font-size: 2vw;
}

.db-release-date {
position: relative;
text-align: center;
font-size: 1vw;
}

.db-columns {
display: flex;
flex-wrap: wrap;
text-align: center;
padding-left: 0;
margin-bottom: 0;
}

.db-column {
list-style: none;
flex: 0 0 58%;

}

.db-small-column {
list-style: none;
flex: 0 0 21%;
}

.db-tomatometer {
font-size: 1vw;
}

.db-audience {
font-size: 1vw;
}

.db-genres {
width: 100%;
font-size: 0.8vw;
overflow:hidden;
text-overflow:ellipsis;
}

.fa-graduation-cap {
font-size: 2.5vw;
}

.fa-user {
font-size: 2.5vw;
}

.db-director {
font-size: 1vw;
text-align: center;
margin-bottom:1vw;
}

.db-description {
font-size: 0.7vw;
text-align: center;}

.db-studio {
text-align: center;
font-size: 0.9vw;
}

.db-boxoffice {
text-align: center;
font-size: 1vw;
}

/* Database arrows */

.left-arrow, .right-arrow {
position: absolute;
bottom: 0;
z-index: 100;
font-size: 3vw;
color: #337ab7;
cursor: pointer;
}

.right-arrow {
left: 91vw;
}

.right-arrow:hover {
  -webkit-animation: linear infinite;
  -webkit-animation-name: move-right-db;
  -webkit-animation-duration: 1.2s;}

  @-webkit-keyframes move-right-db {
  0% {
    left: 91vw;
  }
  50% {
    left: 91.5vw;
  }
  100% {
    left: 91vw;
  }
}

.left-arrow {
left:0.5vw;}

.left-arrow:hover {
  -webkit-animation: linear infinite;
  -webkit-animation-name: move-left-db;
  -webkit-animation-duration: 1.2s;}

  @-webkit-keyframes move-left-db {
  0% {
    left: .5vw;
  }
  50% {
    left: 0vw;
  }
  100% {
    left: .5vw;
  }
}


/* Database search */

.search-bar-db {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 4vw;
  width: 20vw;
}

#db-search-input {
display:inline-block;
height: 3vw;
outline: none;
border: none;
width: 15vw;
padding: 0 2% 0px;
padding-right: 10%;
font-size: 1.5vw;
font-weight: 770;
box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.switch-icon-db {
display:inline-block;
color: #337ab7;
font-size: 2vw;
padding-top: 0.5vw;
float: left;
width: 1.5vw;
}

.switch-icon-db:hover {
cursor: pointer;
filter: brightness(120%)
}


/* Database check */
.database-check {
position:relative;
top: 10vw;
}

/* Recommendations */
.recommendation-div {
columns: 3;
position: relative;
top: -260px;
width: 90%;
margin-left: auto;
margin-right: auto;
}

.recommend-image {
width: 100%;
}

.back-icons-recommend-1 {
height: 10%;
width: 10%;
position: relative;
top: 40%;
margin-left: auto;
}

.back-icons-recommend-2 {
height: 10%;
width: 10%;
position: relative;
top: 40%;

}


.recommend-icon {
font-size: 2.5rem;
transition: transform .5s, color .75s ease-out, size .5s;
margin-bottom: 100%;
cursor: pointer;
}

.recommend-icon:hover{
transform: scale(1.2);}

.add-movie-recommend {
color: #de9090;
}

.watch-list-recommend {
color: #e3ca8f;
padding-left: 11%;
}

.dislike-recommend {
color: #97bbcc;
}

.ignore-recommend {
color: #a1d1a5;
}

.add-movie-recommend:hover{
color:#ff0000;
}

.watch-list-recommend:hover{
color: #f5ad02;
}

.dislike-recommend:hover{
color: #03adfc;
}

.ignore-recommend:hover{
color: #17ff2a;
}


