*, *:before, *:after {
	 box-sizing: border-box;
}
 html {
	 font-size: 18px;
	 line-height: 1.5;
	 font-weight: 700;
	 color: #337ab7;
	 font-family: "Nunito Sans", sans-serif;
	 padding-top: 3%;
	 padding-left: 5%;
	 padding-right: 5%;
	 user-select: none;
}

 body {
	 background-color: #ecf0f9;
	 background-attachment: fixed;
}

/* Heading */

.heading-div {
position: absolute;
width: 303px;

cursor: pointer;
transition: .5s;
}

.heading-div:hover {
filter: brightness(120%);}

.title {
margin-top: 0px;
font-weight: 900;
width: 100%;
font-size: 1.6rem;
letter-spacing: 0.1ch;
color: #639fd3;
}

.title2 {
width: 100%;
font-size: 2.85rem;
color: #337ab7;
height: 100%;
}


/* Nav Bar */

.navbar {
position: relative;
float:right;
color: #337ab7;

}


.nav-item {
-webkit-box-shadow: 0px -2px 64px -6px rgba(208, 208, 208, 1);
-moz-box-shadow: 0px -2px 64px -6px rgba(208, 208, 208, 1);
box-shadow: 0px -2px 64px -6px rgba(208, 208, 208, 1);
position:relative;
list-style: none;
font-weight: 900;
font-size: 1.6rem;
letter-spacing: 0.1ch;
text-align: center;
border-radius: 15%;
padding: 8px 0px;
margin: 4px 0px;
}

.nav-item:hover {
cursor: pointer;
background: white;
}

.nav-item-1 {
width: 250px;
}

.nav-item-2 {
left: 9px;
width: 241px;
}

.nav-item-3 {
left: 24px;
width: 224px;
}

.item-disabled {
background: #D5E1FE;
pointer-events: none;
}
/* Search Input */
.index-search-wrapper {
width: 303px;
height: 277px;
padding-top: 30px;
}

.index-search-wrapper .search-input{
margin-bottom: 5%;
position:relative;
background: white;
border-radius: 5px;
position: sticky;
z-index: 10;
}

.search-input input {
height: 60px;
outline: none;
border: none;
border-radius: 5px;
padding: 0 10px 0px;
padding-right: 10%;
font-size: 25px;
font-weight: 770;
box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

input.search-query {
width:100%;
}

.search-input .autocom-box {
padding: 0px;
max-height: 300px;
overflow-y: auto;
pointer-events: none;
display: none;
}

.search-input.active .autocom-box {
padding: 10px 8px;
pointer-events: auto;
display: block;
}

.search-input.active .autocom-box li{
display: none;
}

.search-input.active .autocom-box li {
width: 100%;
font-size: 21px;
white-space: wrap;
overflow: hidden;
list-style: none;
padding: 1px 0px 0px 2px;
cursor: pointer;
display: block;
padding-right: 10%;
}

.autocom-box li:hover {
background-color: #ecf0f9;
width: 200%;

}

/* Search Icon */
.search-input .icon {
position: absolute;
height: 45px;
width: 45px;
top:13px;
right:0;
text-align:center;
font-size: 25px;
color: #337ab7;
cursor: pointer;
  transition: transform .5s, color .75s ease-out, size .5s;
}

.search-input .icon:hover {
transform: scale(1.1);

}
.invisible-background {
border:none;
background-color: white;
}

/* Search-switch */
.switch{
  position: relative;
  font-size: 15px;
  height: 0.8em;
  width: 48%;
  left: 25%;
  background: white;
  border-radius: 1em;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.switch input {
display: none;
}

.switch div {
  height: 1.3em;
  width: 3.5em;
  position: relative;
  bottom:40%;
  border-radius: 1em;
  background: #d9ebff;
  box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3);
  -webkit-transition: all 400ms;
     -moz-transition: all 400ms;
          transition: all 400ms;
}


.switch input:checked + div {
  -webkit-transform: translate3d(190%, 0, 0);
     -moz-transform: translate3d(190%, 0, 0);
          transform: translate3d(190%, 0, 0);
}

.switch-text {
color: #337ab7;
font-family: "Nunito Sans", sans-serif;
font-size: 0.7rem;
text-align: center;
}


/* Wall buttons */
.wall-buttons{
position:relative;
top: 190px;
width: 60%;
margin: auto;
text-align: center;
item-align: center;
}

.wall-button {
item-align: center;
height: 50px;
box-shadow: rgba(0, 0, 0, 0.06) 0px -12px 30px;
background-color: white;
border: none;
margin: 1%;
width: 20%;
border-radius: 10%;
transition: background-color 0.3s;
font-weight: 900;
font-size: 0.9rem;
wrap: nowrap;
text-transform: uppercase;
}

.wall-button:hover {
background-color: #337ab7;
}

.wall-button:disabled {
background-color: #97BBDA;
cursor: auto;
}

/* Movie cards */
.wall-movie-list {
columns: 7;
column-gap: 5.9%;
display:flex;
position: relative;
max-width: 22%;
min-width: 22%;
bottom: 60px;
max-height: 100%;
min-height: 100%;
}


.wall-list-items {
max-width: 60%;
min-width: 60%;
margin-right: 0;
position: relative;
}


.wall-list-img {
display: flex;
box-shadow: rgba(0, 0, 0, 0.12) 0px -12px 30px,
background: inherit;
rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
transition: 0.1s;
cursor: pointer;
max-width: 100%;
min-width: 100%;
max-height: 84.5%;
min-height: 84.5%;
}

.wall-list-img:active {
position: sticky;
transition: all 1s;
transform: scale(1.7);
z-index:15;}

.wall-movie-base-image {
max-width: 100%;
min-width: 100%;
border-radius: 10%;
filter: saturate(85%) contrast(98%);
-webkit-filter: saturate(85%) contrast(98%);
-moz-filter: saturate(85%) contrast(98%);}


/* Wall Icons */
.wall-icons {
max-width:inherit;
min-width: inherit;
padding-top: 2%;
font-size: 2rem;
margin: auto;}

.thrashcan {
position: relative;
color: #4fbfe8;
left:50%;
transform:translate(-50%)
}

.thrashcan:hover {

color: black;
cursor: pointer;
}


/* MovieBase */
.moviebase-wrapper {
width: 100%;
}

.movie-list {
columns: 4;
height: 100%;}

.movie-base-image {
border-radius: 10%;
width: 300px;
opacity: 80%;
}

.blur
{ filter: blur(5px);
 opacity: 0.25;
 cursor: auto;}

.filter {
background: linear-gradient(135deg, #1a9be6, #1a57e6);
width: 300px;
border-radius: 10%;
}

.movie-list-item {
position: relative;
bottom: 60px;
height: auto;
width: 300px;
list-style: none;}

.filtered-image{
transition: transform .2s;
}

.filtered-image:hover {
transform: scale(1.2);
cursor: pointer;}


/* MovieBase-back */
.db-movie-back {
visibility: hidden;
position: absolute;
margin-left: 5%;
margin-right: 5%;

}

.db-movie-title {
text-transform : uppercase;
text-align: center;
font-size: 1.3rem;
}

.db-release-date {
position: relative;
text-align: center;
font-size: 1.1rem;}

.db-columns {
display: flex;
flex-wrap: wrap;
text-align: center;
padding-left: 0;
}

.db-column {
list-style: none;
flex: 0 0 58%;
}

.db-small-column {
list-style: none;
flex: 0 0 21%;
}

.db-tomatometer {
font-size: 1rem;
}

.db-audience {
font-size: 1rem;
}

.db-genres {
width: 100%;
 overflow:hidden;

text-overflow:ellipsis;
}

.fa-graduation-cap {
font-size: 2.5rem;
}

.fa-user {
font-size: 2.5rem;
}

.db-director {
font-size: 1rem;
text-align: center;}

.db-description {
font-size: 0.9 rem;
text-align: center;}

.db-studio {
text-align: center;
font-size: 0.9rem;
}

.db-boxoffice {
text-align: center;
font-size: 1rem;
}

/* Movie icons */

.back-icons {
  font-size: 1.5rem;
  position: relative;
  left: 20%;
  padding-bottom: 2%;
  }

.add-movie, .watch-list, .dislike, .ignore{
  padding-left: 3%;

  transition: transform .5s, color .75s ease-out, size .5s;
  cursor: pointer;

}


.add-movie-disabled {
color: #de9090;
}

.add-movie-enabled{
transform: scale(1.5);
color:#ff0000;}

.watch-list-disabled {
color: #e3ca8f;}

.watch-list-enabled {
transform: scale(1.5);
color: #f5ad02;}

.dislike-disabled {
  color: #97bbcc;}

.dislike-enabled {
transform: scale(1.5);
color: #03adfc;}

.ignore-disabled {
color: #a1d1a5;}

.ignore-enabled {
transform: scale(1.5);
color: #17ff2a;}

/* Move base arrows */

.left-arrow-wall, .right-arrow-wall {
position: relative;
bottom: 96px;
font-size: 40px;
color: #337ab7;
cursor: pointer;
}

.right-arrow-wall {
float: right;
}

.left-arrow-wall:hover, .right-arrow-wall:hover {
  -webkit-animation: linear infinite;
  -webkit-animation-name: run;
  -webkit-animation-duration: 1s;}

  @-webkit-keyframes run {
  0% {
    left: 0;
  }
  50% {
    left: 0.5%;
  }
  100% {
    left: 0;
  }
}

/* Arrow */

.right-arrow {
position:relative;
left: 100%;
top: 198px;
font-size: 60px;
color: #337ab7;
cursor: pointer;
}

.left-arrow {
position: relative;
font-size: 60px;
right: 7%;
top: 198px;
color: #337ab7;
cursor: pointer;
}

/* Database switches */
.database-switches {
columns: 2;
width: 350px;
}

.database-div {
padding-top: 10%;
}

.database-switch {
width: 90%;}


/* Database search */

.search-panel {
position:relative;
width: 24%;
left: 32%;
bottom: 40px;}

.database-search {
text-align: center;
position:relative;
left: 11.5%;}

.database-search input {
padding: 0 10px 0px;
position: relative;
left: 3.8%;
width: 87%;
}

.fa-shuffle {
position: relative;
color: #337ab7;
cursor: pointer;
float: left;
left: 1.2%;
top: 10px;
font-size: 2rem;}

/* Database check */
.database-check {
position:relative;
width: 10%;
top: 30%;
left: 2.9%;
}

/* Recommendations */
.recommendation-div {
columns: 3;
position: relative;
top: -260px;
width: 90%;
margin-left: auto;
margin-right: auto;
}

.recommend-image {
width: 100%;
}

.back-icons-recommend-1 {
height: 10%;
width: 10%;
position: relative;
top: 40%;
margin-left: auto;
}

.back-icons-recommend-2 {
height: 10%;
width: 10%;
position: relative;
top: 40%;

}


.recommend-icon {
font-size: 2.5rem;
transition: transform .5s, color .75s ease-out, size .5s;
margin-bottom: 100%;
cursor: pointer;
}

.recommend-icon:hover{
transform: scale(1.2);}

.add-movie-recommend {
color: #de9090;
}

.watch-list-recommend {
color: #e3ca8f;
padding-left: 11%;
}

.dislike-recommend {
color: #97bbcc;
}

.ignore-recommend {
color: #a1d1a5;
}

.add-movie-recommend:hover{
color:#ff0000;
}

.watch-list-recommend:hover{
color: #f5ad02;
}

.dislike-recommend:hover{
color: #03adfc;
}

.ignore-recommend:hover{
color: #17ff2a;
}


