{% import "bootstrap/wtf.html" as wtf %}
{% extends 'bootstrap/base.html' %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
 integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
 crossorigin="anonymous" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}


{% block body %}

<a href="{{ url_for('home') }}">
<div class="heading-div">
<h1 class="title">YOUR PERSONAL <span class="title2"> CLASSICS </span></h1>
</div></a>


<div class="navbar">
 <ul>

     <li class="nav-item nav-item-1"> RECOMMEND
 </li>

   <li class="nav-item nav-item-2">
MOVIE-BASE
 </li>


 <li class="nav-item nav-item-3">
MY MOVIES
 </li>




 </ul>
</div>


<script src="https://kit.fontawesome.com/231aedabbf.js" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/base.js') }}"></script>
<script src="{{ url_for('static', filename='js/fetch_functions.js') }}"></script>






{% endblock %}


