{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block body %}

{{ super() }}

<div class="search-bar-db">


 <div class="db-search-input" id="s-input">
     <i class="fa-solid fa-sort switch-icon-db" id="chose-search"></i>
  {{ search_form.searched(type="text", placeholder="Enter title", id="db-search-input", class="db-search-query", autocomplete="off") }}
</div></div>


<div class="sort-buttons">

<div class="order-by order">
  <span>Order by</span>
  <div class="order-by-content">
      <p class="order-item order-active" id="critics_max"> &nbsp;Critics reviews +</i></p>
      <p class="order-item order-active" id="critics_min"> &nbsp;Critics reviews -</i></p>
      <p class="order-item order-active" id="boxoffice_max"> &nbsp;US Boxoffice +</i></p>
      <p class="order-item order-active" id="boxoffice_min"> &nbsp;US Boxoffice -</i></p>
      <p class="order-item order-active" id="date_max"> &nbsp;Release date +</i></p>
         <p class="order-item order-active last-item" id="date_min"> &nbsp;Release date -</p>


  </div>
</div>

    <div class="order-by genres">
  <span>Genres</span>
  <div class="order-by-content">
      {% for genre in genres %}
      <p class="order-item order-active"> &nbsp;{{ genre }}</p>
      {% endfor %}
  </div>
</div>

            <div class="order-by rating">
  <span>Rating</span>
  <div class="order-by-content">
            <p class="order-item order-active"> &nbsp;G</p>
                  <p class="order-item order-active"> &nbsp;PG</p>
                  <p class="order-item order-active"> &nbsp;PG-13</p>
            <p class="order-item order-active last-item"> &nbsp;R</p>
  </div>
</div>


    <div class="order-by critics">
  <span>Critics</span>
  <div class="order-by-content">
      <p class="order-item order-active"> &nbsp;Loved it</p>
            <p class="order-item order-active"> &nbsp;Liked it</p>
            <p class="order-item order-active last-item"> &nbsp;Hated it</p>
  </div>
</div>

        <div class="order-by audience">
  <span>Audience</span>
  <div class="order-by-content">
            <p class="order-item order-active"> &nbsp;Liked it</p>
            <p class="order-item order-active last-item"> &nbsp;Hated it</p>
  </div>
</div>




</div>


<div class="movie-list">

<i id="left-arrow" onclick="lowerIndex();"  class="left-arrow fas fa-angle-double-left"></i>

{% for x in range(0,4) %}

 <div class="movie-list-item">

            <div class="db-card">   <img class="movie-base-image" src="">




      <div class="db-movie-back" id="card-back">


      <p class="db-movie-title"></p>

      <ul class="db-columns">
      <li class="db-small-column">
      <i class="fa-solid fa-graduation-cap"></i>
      <p class="db-tomatometer"></p>
      </li>

       <li class="db-column">
       <p class="db-release-date"></p>
       <p class="db-genres"></p>

       </li>


      <li class="db-small-column">
      <i class="fa-solid fa-user"></i>
      <p class="db-audience"></p>
      </li></ul>


      <p class="db-director"></p>
      <p class="db-description"></p>
      <p class="db-studio"></p>
      <p class="db-boxoffice"></p>


     </div></div>

             <div class="back-icons" id="all-icons">
              <i class="fas fa-heart add-movie add-movie-disabled" id="heart"></i>
              <i class="fa-solid fa-bookmark watch-list watch-list-disabled" id="bookmark"></i>
              <i class="fa-solid fa-thumbs-down dislike dislike-disabled" id="dislike"></i>
              <i class="fa-solid fa-ban ignore ignore-disabled" id="ignore"></i>
          </div>

 </div>

{% endfor %}

<i id="right-arrow" onclick="addIndex();" class="fas fa-angle-double-right right-arrow"></i>
</div>


<script src="{{ url_for('static', filename='js/movie_base_fetch_movies.js') }}"></script>
<script src="{{ url_for('static', filename='js/movie_base_var.js') }}"></script>
<script src="{{ url_for('static', filename='js/movie_base_search.js') }}"></script>
<script src="{{ url_for('static', filename='js/movie_base_switches.js') }}"></script>
<script src="{{ url_for('static', filename='js/movie_base_buttons.js') }}"></script>
<script src="{{ url_for('static', filename='js/movie_base.js') }}"></script>

{% endblock %}