{% include "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

     <div class="recommendation-div">


                    <div class="back-icons-recommend-1">
              <i class="fas fa-heart add-movie-recommend recommend-icon" id="recommend-heart"></i>
              <i class="fa-solid fa-bookmark watch-list-recommend recommend-icon" id="recommend-bookmark" ></i>
                       </div>

              <img class="movie-base-image recommend-image" id="recommend-image"
          src="">

         <div class="back-icons-recommend-2">
              <i class="fa-solid fa-thumbs-down dislike-recommend recommend-icon" id="recommend-dislike"></i>
              <i class="fa-regular fa-circle-xmark ignore-recommend recommend-icon" id="recommend-ignore"></i>
          </div>

     </div>


<script src="{{ url_for('static', filename='js/recommend_script.js') }}"></script>
